<script
	defer
	src="https://static.cloudflareinsights.com/beacon.min.js"
	data-cf-beacon='{"token": "{{site.analytics}}"}'
></script>
<header class="row">
	<a class="accessible-txt" href="#main">Skip To Content</a>
	<span class="accessible-txt">Note: if you run into any accessibility issues on this site, please let me know at <a href="mailto:contact@fauxsaur.us">contact@fauxsaur.us</a>.</span>
	<a href="{{ page.lang | absoluteUrl(site.url) }}/">{{site.title}}</a>
	<nav class="row">
		<!--
		<a href="{{ page.lang | absoluteUrl(site.url) }}/{{ pages.blog }}/">{{ localization.blog | _kebab2titleCase }}</a>
-->
		<a href="{{ page.lang | absoluteUrl(site.url) }}/{{ localization.about }}/">{{
			localization.about | _kebab2titleCase
		}}</a>
	</nav>
	<div class="scroll-progress-bar" style="background-size: 0% 100%"></div>
</header>
