<!DOCTYPE html>
<title>{{ title }}</title>
<meta charset="utf-8" />
<meta name="mobile-web-app-capable" content="yes" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="{{ desc | escape }}" />
<!--open graph (facebook)-->
<meta property="og:author" content="{{ author | escape }}" />
<meta property="og:description" content="{{ desc | escape }}" />
<meta property="og:site_name" content="{{ site.title }}" />
<meta property="og:tag" content="{{ tags | reject('equalto', 'post') | join(', ') }}" />
<meta property="og:title" content="{{ title }}" />
<meta property="og:type" content="{{ type }}" />
<meta property="og:image" content="{{ img | absoluteUrl(site.url) | _getShareImgUrl(imgSize) }}" />
<meta property="og:url" content="{{ page.url | absoluteUrl(site.url) }}" />
<!--twitter-->
<meta name="twitter:card" content="{{ type }}" />
<meta name="twitter:description" content="{{ desc | escape }}" />
<meta name="twitter:image" content="{{ img | absoluteUrl(site.url) | _getShareImgUrl(imgSize) }}" />
<meta name="twitter:title" content="{{ title }}" />
<meta name="twitter:url" content="{{ page.url | absoluteUrl(site.url) }}" />
<meta name="twitter:site" content="@minifyres" />
<meta name="twitter:site:id" content="711103446" />
<meta name="twitter:creator" content="@minifyres" />
<meta name="twitter:creator:id" content="711103446" />

{% favicons 'src/img/logo.svg' %}

<link
	rel="alternate"
	type="application/rss+xml"
	title="{{ site.title }}"
	href="{{ site.url }}/{{ page.lang }}/feed.xml"
/>

<link rel="stylesheet" href="{{ site.url }}/css/index.css" />
