---
layout: base.njk
---

<link href="css/home.css" rel="stylesheet" />
	<h1>Embers of the Nephilim: Ghost Girl and the Ghost Giant</h1>
	<section class=grid-book-and-desc>
		<figure>
			{% image "/img/ghost-girl-book-cover.jpg", "Book cover showing a young superhero jumping in front of the moon on a cloudy night." %}
		</figure>
		<p>Thirteen-year-old Olivia Linda Wade has been plagued by a ghost that no one else quite seems to believe exists. But when things come to a head, she'll get swept up in a police investigation looking into a recently apprehended vigilante from Detroit and cross paths with others who've come face-to-face with the ghost along the way. Will she and her ragtag team come together and rise to the occasion to defeat her tormentor before time runs out? Only one way to find out!</p>
	</section>
<br />
<h2>Available On:</h2>
{% for book in books %}
  <ul>
	{% set comma = joiner() %}
    {% for name, links in book.storefronts %}
	<li>
		{{name}}:
		{% for type, url in links %}
		 <a href="{{url}}" target="_blank">{{type}}</a>{% if not loop.last %},{% endif %}
		
		{% endfor %}
	</li>
	{% endfor %}
  </ul>
{% endfor %}
<br />
<h2>Annotations</h2>
<p>These are some behind-the-scenes blog posts cataloging the book's development, chapter by chapter.</p>
<ol>
	{% for post in (collections.post | _getLangPosts(page.lang)) %}
	<li>
		<a href="{{ post.url }}">{{ post.data.title }}</a>
	</li>
	{%- endfor %}
</ol>
