@media screen and (max-width: 45rem) {
	.grid-book-and-desc .book-cover {
		aspect-ratio: 5/8;
		margin: auto;
		margin-bottom: var(--padding-main);
		width: 20rem;
	}
}

@media screen and (min-width: 45rem) {
	.grid-book-and-desc {
		align-items: center;
		display: grid;
		font-size: 1.025rem;
		grid-template-columns: 12.5rem 1fr;
		grid-column-gap: var(--padding-main);
		text-align: center;
	}

	.grid-book-and-desc img {
		height: auto;
		width: 100%;
	}
}

.character-select {
	display: grid;
	list-style-type: none;
	margin: 0;
	grid-column-gap: 0.1rem;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.character-select .divider {
	grid-column: 1 / -1;
}

.character figure {
	position: relative;
}

.character-select .character-description {
	height: 100%;
	left: 0;
	padding: 0.2rem;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;
}

.character figure img {
	filter: blur(0rem);
	opacity: 1;
	transition: all 0.5s ease-out;
}

.character-select figure img:hover {
	filter: blur(0.5rem);
	opacity: 0.2;
}

.character-select figure {
	padding: 0;
}

.character-select img {
	height: auto;
	width: 100%;
}

@media screen and (min-width: 30rem) {
	ol {
		column-count: 2;
		column-gap: var(--padding-main);
	}
}
@media screen and (min-width: 60rem) {
	ol {
		column-count: 3;
	}
}
