[data-component='site-footer'] {
	align-items: center;
	background-color: var(--color-black);
	color: var(--color-white);
	display: flex;
	flex-direction: column;
	gap: var(--padding-footer);
	font-family: var(--font-default);
	justify-content: center;
	padding: var(--padding-footer);
	padding-top: calc(var(--padding-footer) * 1.5);

	nav {
		display: flex;
		flex-direction: row;
		gap: 1rem;
	}

	[data-icon] {
		/* background-color: var(--color-white); */
		background-color: #fff;
		display: block;
		height: 1.25rem;
		transition: background-color var(--time-transitions);
		width: 1.25rem;
	}

	[data-icon]:hover {
		background-color: var(--color-theme);
	}
	@media (hover: hover) and (pointer: fine) {
		[data-icon]:hover {
			background-color: var(--color-theme);
		}
	}

	/* @note all images are adapted from: https://github.com/edent/SuperTinyIcons (license: https://github.com/edent/SuperTinyIcons/blob/master/LICENSE) */
	[data-icon='deviantart'] {
		mask-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%0Aaria-label%3D%22DeviantArt%22%20role%3D%22img%22%0AviewBox%3D%220%200%20512%20512%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22m358%20151V91h-60l-6%206-28%2054-9%206H154v82h56l5%206-57%20110-3%206v60h60l6-6%2028-54%209-6h100v-82h-56l-5-6%22%2F%3E%3C%2Fsvg%3E);
	}
	[data-icon='email'] {
		mask-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiI+CgkJCTxtYXNrIGlkPSJtYXNrLWVudmVsb3BlIj4KCQkJCTxwYXRoIGQ9Im0wIDBINTEyVjUxMkgwIiBmaWxsPSIjZmZmIiAvPgoJCQkJPHBhdGggc3Ryb2tlPSIjMDAwIiBzdHJva2Utd2lkdGg9IjIwIiBmaWxsPSJub25lIiBkPSJNMzA1IDI1NiA0MzQgMzg0TTIwNyAyNTYgNzggMzg0bTAtMjU2TDI0MyAyOTJjNyA4IDE5IDggMjYgMEw0MzQgMTI4Ii8+CgkJCTwvbWFzaz4KCQkJPHJlY3Qgd2lkdGg9IjM1NiIgaGVpZ2h0PSIyNTYiIHg9Ijc4IiB5PSIxMjgiIGZpbGw9IiNmZmYiIHJ4PSI4JSIgbWFzaz0idXJsKCNtYXNrLWVudmVsb3BlKSIvPgoJCTwvc3ZnPg==);
	}
	[data-icon='github'] {
		mask-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%0AviewBox%3D%220%200%20512%20512%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M335%20499c-13%200-16-6-16-12l1-70c0-24-8-40-18-48%2057-6%20117-28%20117-126%200-28-10-51-26-69%203-6%2011-32-3-67%200%200-21-7-70%2026-42-12-86-12-128%200-49-33-70-26-70-26-14%2035-6%2061-3%2067-16%2018-26%2041-26%2069%200%2098%2059%20120%20116%20126-7%207-14%2018-16%2035-15%206-52%2017-74-22%200%200-14-24-40-26%200%200-25%200-1%2016%200%200%2016%207%2028%2037%200%200%2015%2050%2086%2034l1%2044c0%206-3%2012-16%2012-14%200-12%2017-12%2017H347s2-17-12-17Z%22%2F%3E%3C%2Fsvg%3E);
	}
	[data-icon='instagram'] {
		mask-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%0AviewBox%3D%220%200%20512%20512%22%3E%3Cg%0Afill%3D%22none%22%20stroke%3D%22%23fff%22%20stroke-width%3D%2230%22%3E%3Crect%20width%3D%22308%22%20height%3D%22308%22%20x%3D%22102%22%20y%3D%22102%22%20rx%3D%2281%22%2F%3E%3Ccircle%20cx%3D%22256%22%20cy%3D%22256%22%20r%3D%2272%22%2F%3E%3Ccircle%20cx%3D%22347%22%20cy%3D%22165%22%20r%3D%226%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E);
	}
	[data-icon='pinterest'] {
		mask-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%0AviewBox%3D%220%200%20512%20512%22%3E%3Cpath%20d%3D%22M265%2065c84%200%20140%2060%20140%20126%200%2087-48%20151-119%20151-24%200-46-13-53-28l-16%2061c-9%2035-38%2069-40%2072l-3%201a249%20249%200%2001-2-86l29-120s-7-14-7-34c0-33%2018-58%2042-58%2021%200%2030%2016%2030%2034%200%2020-13%2050-19%2077-6%2024%2011%2042%2034%2042%2042%200%2070-52%2070-116%200-48-32-85-92-85-67%200-108%2050-108%20106%200%2019%206%2032%2015%2043%203%205%204%206%202%2012l-3%2018c-2%205-7%207-12%205-31-12-45-46-45-83%200-63%2053-138%20157-138Z%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E);
	}
	[data-icon='rss'] {
		mask-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%0AviewBox%3D%220%200%20512%20512%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22m109%20271A132%20133%200%2001241%20403h60A192%20193%200%2000109%20211v-54A246%20247%200%2001355%20403h60A306%20307%200%2000109%2097m35%20235a35%2035%200%20102%200%22%2F%3E%3C%2Fsvg%3E);
	}
	[data-icon='stackoverflow'] {
		mask-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%0AviewBox%3D%220%200%20512%20512%22%3E%3Cpath%20stroke%3D%22%23fff%22%20stroke-width%3D%2230%22%20fill%3D%22none%22%20d%3D%22M125%20297V402H366V297m-46%2044H170m6-68%20148%2031m11-36-136-64m41-65%20115%2097m28-27L293%2089%22%2F%3E%3C%2Fsvg%3E);
	}
	[data-icon='x'] {
		mask-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%0AviewBox%3D%220%200%20512%20512%22%3E%3Cpath%20d%3D%22M321.8%20373.1h36.6L190%20137.5H153.4ZM391%20389.9H310.6L237%20285.1%20144.8%20389.9H121L226.4%20270%20121%20120h80.4l69.7%2099.2L358.4%20120h23.8L281.7%20234.3Z%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E);
	}
}
