[data-component='site-header'] {
	background: var(--color-black);
	color: var(--color-white);
	display: flex;
	flex-wrap: wrap;
	font-family: var(--font-headings);
	justify-content: space-between;
	min-height: var(--header-height);
	position: relative;
	text-transform: capitalize;
	width: 100%;

	/** @todo make this more template-able */
	.icon {
		aspect-ratio: 1;
		background-image: url('data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9JzEwMCcgd2lkdGg9JzEwMCcgdmlld0JveD0nMCAwIDEwMCAxMDAnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2Zyc+PGcgdHJhbnNmb3JtPSdzY2FsZSgwLjQyNSwwLjQyNSknPjxwYXRoIGQ9J00gMTcxLjE5OTQ5LDY0LjA4ODY0IEMgMTU2LjM2MTkzLDM4Ljg0MTc4MyAxMzMuMjEwNCwzMC4xNjkxODIgMTE4LjY1MjQxLDMwLjE2OTE4MiBjIC0xNC42ODU0MywwIC0zNS40NzA1NTcsOS4xOTMzMyAtNTAuMjQyNzM3LDM0LjQxMjIyOSBDIDUzLjYzNzQ5NCw4OS44MDAzMTIgNDguMDE0MzMsMTA2Ljc4MTgxIDQ4LjAxNDMzLDEzMC4zNjg4NyBjIDAsMjQuMTE0MTkgNy4xNTUyNDMsNDMuOTk0NjEgMjAuNjkzNjMyLDU3LjQ5MzU0IDEyLjUyNzAxOSwxMi40OTA4NCAyOS43OTc2MTMsMTkuMDkzNTQgNDkuOTQ0NDQ4LDE5LjA5MzU0IDIwLjE0NjgzLDAgMzcuNDE4MjUsLTYuNjAxODYgNDkuOTQ1MjcsLTE5LjA5MzUzIDEzLjUzNzU3LC0xMy40OTg5MyAyMC42OTM2MywtMzMuMzc5MzUgMjAuNjkzNjMsLTU3LjQ5MzU0IDguM2UtNCwtMjMuNTMxOTkgLTMuMjU0MjcsLTQxLjAzMzM4NCAtMTguMDkxODIsLTY2LjI4MDI0IHonIGZpbGw9JyNmZmYnIHN0cm9rZT0nbm9uZScgLz48L2c+PC9zdmc+Cg==');
		background-size: 100% 100%;
		display: flex;
		width: 1.2em;
	}

	a:not([hidden]),
	label {
		align-items: center;
		box-sizing: border-box;
		color: var(--color-white);
		display: inline-flex;
		height: var(--header-height);
		padding: var(--padding-header);
		text-decoration: none;
		transition: background-color var(--time-transitions);
		user-select: none;
	}

	a:hover,
	label:hover {
		background-color: var(--color-theme);
	}
	@media (hover: hover) and (pointer: fine) {
		a:hover,
		label:hover {
			background-color: var(--color-theme);
		}
	}

	/** navbar */
	ul {
		display: flex;
		list-style-type: none;
		margin-block-start: 0;
		margin-block-end: 0;
		padding-inline-start: 0;
	}

	@media screen and (max-width: 30rem) {
		label {
			aspect-ratio: 1;
			/** @note adapted from: https://codepen.io/artem-isaev/pen/RmyrOp */
			background-image: linear-gradient(
				to bottom,
				var(--color-white) 20%,
				transparent 21%,
				transparent 40%,
				var(--color-white) 41%,
				var(--color-white) 60%,
				transparent 61%,
				transparent 80%,
				var(--color-white) 81%
			);
			background-position: center;
			background-repeat: no-repeat;
			background-size: calc(100% - calc(2 * var(--padding-header)))
				calc(100% - calc(2 * var(--padding-header)));
			cursor: pointer;
			display: block;
			height: var(--header-height);
		}

		[type='checkbox']:not(:checked) ~ nav {
			display: none;
		}

		> a:not([hidden]) {
			width: calc(100% - var(--header-height));
		}

		nav {
			display: flex;
			flex-basis: 100%;
			flex-direction: column;
			width: 100%;
		}

		nav ul {
			flex-wrap: wrap;
		}

		nav ul li {
			flex-basis: 100%;
			width: 100%;
		}
		nav ul li a {
			width: 100%;
		}
	}
}
